<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ho_Guom_Explore"
        tools:targetApi="31">
        <activity
            android:name=".ManageInterface.PositionManagement.UploadPositionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.PositionManagement.UploadPositionActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.PositionManagement.UpdatePositionActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.PositionManagement.PositionManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.ServiceManagement.UploadServiceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.ServiceManagement.UploadServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.ServiceManagement.UpdateServiceActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.ServiceManagement.ServiceManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.EventManagement.UpdateEventActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.EventManagement.UploadEventDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.EventManagement.UploadEventActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.EventManagement.EventManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.ManagementActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.CuisineAndAccommodationManagement.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.ServicePage.ServiceActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.EventPage.EventActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.SubPages.CommentActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.EventPage.EventDetail"
            android:exported="true" />
        <activity
            android:name=".ManageInterface.CuisineAndAccommodationManagement.UploadDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.CuisineAndAccommodationManagement.UploadCuisineAndAccommodation"
            android:exported="true" />
        <activity
            android:name=".ManageInterface.CuisineAndAccommodationManagement.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.VisitPage.VisitActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.VisitPage.VisitMapActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.VisitPage.VisitDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.VisitPage.VisitDetailMapActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.IntroductionPage.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.IntroductionPage.DetailVideoActivity"
            android:exported="true"/>
        <activity
            android:name=".UserInterface.IntroductionPage.InstructionActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.CuisineAndAccommodationList"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.CuisineAndAccommodationDetail"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.CuisineAndAccommodation"
            android:exported="true" />
        <activity
            android:name=".UserInterface.MainPage.HomePageActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.AuthenticationPage.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.AuthenticationPage.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.MainPage.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>