<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ho_Guom_Explore"
        tools:targetApi="31">
        <activity
            android:name=".ManageInterface.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.ServicePage.ServiceActivity"
            android:exported="true"/>
        <activity
            android:name=".UserInterface.EventPage.EventActivity"
            android:exported="true"/>
        <activity
            android:name=".UserInterface.SubPages.CommentActivity"
            android:exported="true"/>
        <activity
            android:name=".UserInterface.EventPage.EventDetail"
            android:exported="true" />
        <activity
            android:name=".ManageInterface.UploadDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ManageInterface.UploadCuisineAndAccommodation"
            android:exported="true" />
        <activity
            android:name=".ManageInterface.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.VisitPage.VisitActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.VisitPage.VisitMapActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.VisitPage.VisitDetailActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.IntroductionPage.DetailActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.IntroductionPage.DetailVideoActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.IntroductionPage.InstructionActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.RestaurantList"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.HotelList"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.CuisineList"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.HotelDetail"
            android:exported="false" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.RestaurantDetail"
            android:exported="false" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.CuisineDetail"
            android:exported="true" />
        <activity
            android:name=".UserInterface.CuisineAndAccommodationPage.CuisineAndAccommodation"
            android:exported="true" />
        <activity
            android:name=".UserInterface.MainPage.HomePageActivity"
            android:exported="true" />
        <activity
            android:name=".UserInterface.AuthenticationPage.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UserInterface.AuthenticationPage.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserInterface.MainPage.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>